<div>
  <ul class="wrapper">
    <li *ngFor="let item of data">
  
      <div></div>
      <mat-card class="tour-card">
        <mat-card-header>
          <mat-card-title>{{ item.tourName }}</mat-card-title>
        
        </mat-card-header>

        <img mat-card-image src="{{ item.image }}" alt="Tour-image" />

        <mat-card-content>
          <p>
            {{ item.description }}
          </p>
        </mat-card-content>
        <p>{{item.price}}.00</p>
        <mat-card-actions>
      
           <button *ngIf="isCurrentUserOwner(item.ownerId)" mat-flat-button color="primary"  routerLink="/tour/edit/{{item.id}}">
            EDIT
          </button>
        
          <button *ngIf="isCurrentUserOwner(item.ownerId)" mat-flat-button color="warn" (click)="deleteData(item.id)">
            DELETE
          </button>
         
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
         
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>
