<div>
  <app-filter
    [allTours]="getTotalTours()"
    [dailyTours]="getDailyTours()"
    [cityTours]="getCityTours()"
    (filterRadioButtonSelectionChanged)="onFilterRadioButtonChanged($event)"
  ></app-filter>
</div>

 <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

<div class="card-content">
  <ul *ngFor="let item of data">
    <li
      *ngIf="toursCountRadioButton === 'allTours' ||
        toursCountRadioButton === item.category  "  
    >
      <div class="wrapper"   *ngIf="searchText === '' || item.name.toLowerCase().includes(searchText)">
        <div class="product-img">
          <img src="{{ item.image }}" height="420" width="327" />
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1>{{ item.name }}</h1>
            <h2>{{ item.category }}</h2>
            <p>{{ item.description }}</p>
          </div>
          <p class="price">
            {{ item.price | currency : "EUR" }}
          </p>
          <button (click)="onclick()" class="show-hide-btn">
            {{ ReadMore ? "More Details" : "Less Details" }}
          </button>
          <div class="product-price-btn" *ngIf="visible">
            <!-- Owner -->
            <ng-template #Owner>
              <button
                class="edit-btn"
                mat-flat-button
                routerLink="/tour/edit/{{ item.id }}"
              >
                EDIT
              </button>

              <button
                mat-flat-button
                class="delete-btn"
                (click)="deleteData(item.id)"
              >
                DELETE
              </button>
            </ng-template>

            <!-- Guest -->
            <ng-template #Guest>
              <button class="book-now-btn" mat-button>BOOK NOW</button>
            </ng-template>

            <ng-container
              *ngTemplateOutlet="
                isCurrentUserOwner(item.ownerId) ? Owner : Guest
              "
            ></ng-container>
          </div>
        </div>
      </div>
    </li>
  </ul>


</div>
<div class="noTours" *ngIf="!data"> 
</div>
