<div>
  <app-filter
    [allTours]="getTotalTours()"
    [dailyTours]="getDailyTours()"
    [cityTours]="getCityTours()"
    (filterRadioButtonSelectionChanged)="onFilterRadioButtonChanged($event)"
  ></app-filter>
</div>

<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

<div class="card-content">
  <ul *ngFor="let item of data">
    <li
      *ngIf="
        toursCountRadioButton === 'allTours' ||
        toursCountRadioButton === item.category
      "
    >
      <div
        class="wrapper"
        *ngIf="
          searchText === '' || item.name.toLowerCase().includes(searchText)
        "
      >
        <div class="product-img">
          <img src="{{ item.image }}" height="420" width="327" />
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1>{{ item.name }}</h1>
            <h2>{{ item.category }}</h2>
            <p>{{ item.description }}</p>
          </div>
          <p class="price">
            {{ item.price | currency : "EUR" }}
          </p>
                            <!-- Details -->
          <!-- Owner -->
          <ng-template #Owner>
            <button
              [className]="['details-btn']"
              [routerLink]="['/tour/tourDetails', item.id]"
              class="btn btn-primary"
            >
              Details
            </button>
          </ng-template>

          <!-- Guest -->
          <ng-template #Guest>
            <div *ngIf="!isCurrentUserOwner(item.ownerId)">
              <button class="book-now-btn" color="primary" mat-button>
                BOOK NOW
              </button>
            </div>
          </ng-template>

          <ng-container
            *ngTemplateOutlet="isCurrentUserOwner(item.ownerId) ? Owner : Guest"
          ></ng-container>
         
        </div>
      </div>
    </li>
  </ul>
</div>
