
.error-msg{
    color: red;
}
.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
.form-container{
  margin: 150px auto;
  background-color: transparent;
}
h1{

  text-align: center;
  color: #1C62B9;
  font-weight: bold;
}
span a{
  margin-left: 5px;
  color: #1C62B9;
  font-weight: bold;
 }
button{
  margin-bottom: 15px;
}
 


  

