<div class="form-container mat-elevation-z5">
  <h1>{{ title }}</h1>
  <form #registerForm="ngForm" (ngSubmit)="handleRegister(registerForm.value)">
    <mat-form-field appearance="fill" class="form-control">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        name="email"
        ngModel
        placeholder="pat@example.com"
        id="email"
        type="email"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your Password</mat-label>
      <input
        matInput
        ngModel
        required
        id="password"
        name="password"
        placeholder="******"
        type="password"
      />
    </mat-form-field>
    <!-- TODO  >>>> Confirm Pasword -->

    <!-- <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input 
      matInput
      ngModel
      required
      id="repass"
      name="repass"
      placeholder="******"
      type="password" 
       />
    </mat-form-field> -->
    <div class="center margin-top">
      <button mat-raised-button color="primary" type="submit">Register</button>
    </div>

    <span class="center margin-top"
      >Already member?
      <a class="sign-up-=link" routerLink="/auth/login">Sign In!</a></span
    >
  </form>
</div>
