.form-container{
  margin: 150px auto;
  background-color: transparent;
}
h1{
  color: #1C62B9;
}
span a{
  margin-left: 5px;
  color: #1C62B9;
 }
button{
  margin-bottom: 15px;
}


.error-msg{
    color: red;
}