<nav class="navbar">
  <!-- LOGO -->

  <div class="logo"><a routerLink="/">TRAVEL-MARKET</a> </div>

  <!-- NAVIGATION MENU -->

  <ul class="nav-links">
   
    <input type="checkbox" id="checkbox_toggle" />

    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
 
    <!-- User (isLoggedIn) -->
    <div class="menu">
      <ng-template #User>
        <li><a routerLink="/auth/profile">PROFILE</a></li> 
        <li><a routerLink="/tour/all-tours">ALL-TOURS</a></li>
        <li><a routerLink="/tour/new-tour">NEW-TOURS</a></li>
        <li><a routerLink="contact">CONTACT</a></li>
        <li><a (click)="logout()">LOGOUT</a></li>
      </ng-template>

      <!-- Guest -->
      <ng-template #Guest>
        <li><a routerLink="/">HOME</a></li>
        <li><a routerLink="/auth/login">LOGIN</a></li>
        <li><a routerLink="/auth/register">REGISTER</a></li>
      </ng-template>
      <ng-container *ngTemplateOutlet="isLoggedIn ? User : Guest"> 
      </ng-container> 
    </div>
  </ul>
</nav>
