
<div class="filter-container">
    <span class="filter-">Filter:</span>
<div>
     <input type="radio" name="filter" value="allTours"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()"
    />
    <span>{{'All Tours('+allTours+')'}}</span>
</div>
   <div>
     <input type="radio" name="filter" value="City Tour"
     [(ngModel)]="selectedRadioButtonValue"
     (change)="onRadioButtonSelectionChanged()"
     />
    <span>{{'City Tours('+cityTours+')'}}</span>
   </div>

   <div>
     <input type="radio" name="filter" value="Daily Tour" 
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()"
    />
    <span>{{'Daily Tours('+dailyTours+')'}}</span>
   </div>

   

</div>
