/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  min-height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //  background-color: #bec3c7;
  background-image:linear-gradient(rgba(248, 243, 243, 0.75),rgba(244, 240, 240, 0.75)),url('assets/images/background.jpg') ;
}

main{
height: 100%; 
}
body > app-root{
 

}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

// Login -Register

.form-container {
  display: block;
  max-width: 600px;
  margin: 20%;
  background: #eceff1;
  padding: 48px;
  border-radius: 16px;

  mat-form-field {
    width: 100%;
  }
  .center{
    display: flex;
    justify-content: center;
  }
  
  .text-center{
    text-align: center;
  }
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient (rgb(0, 0, 0, 0.75)), rgb(0, 0, 0, 0.75),
    url("/client/src/assets/images/background.jpg");
  background-size: content;
  background-position: center;
}
